.homepage{
    padding: 0 4%;
    height: calc(100vh - 5.75rem);
    overflow-y: scroll;
    

    h2{
        margin-top: 3rem;
        margin-bottom: 1.5rem;

        strong{
            color: var(--pink);
        }
    }

    .linearProgress{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-color: var(--gray-50);
        z-index: 10;
    }
}



.latestEpisodes{
    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        li{
            
            background: var(--white);
            border: 1px solid var(--gray-100);
            padding: 4%;
            border-radius: 1.5rem;
            position: relative;

            display: flex;
            align-items: stretch;
            justify-content: space-between;

            
            img{
                width: 6rem;
                height: 6rem;
                border-radius: 1rem;
            }

            .imageDiv{
                display: flex;
                align-self: center;
            }

            .episodeDetails{
                flex: 1;
                width: 70%;
                padding-left: 4%;
                position: relative; 

                a{
                    color: var(--gray-800);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;

                    //Quando passar por cima
                    &:hover{
                        text-decoration: underline;
                    }
                }

                p{
                    
                    font-size: 0.875rem;
                    
                    margin-top: 0.5rem;
                    max-width: 70%;
                    
                    // white-space: nowrap; //Nunca quebrar de linha.
                    
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span{
                    margin-top: 0.5rem;
                    font-size: 0.875rem;

                    //  Criando "bolinha" antes do último span:
                    &:last-child{
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;

                        &::before{
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 2px;
                            background: #DDD;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(-50%, -50%); //Deixando totalmente alinhado
                        }
                    }
                }
            }

            button{
                position: absolute;
                right: 2rem;
                bottom: 2rem;

                width: 2.5rem;
                height: 2.5rem;                    
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.675rem;
                font-size: 0;

                transition: filter 0.2s;

                img{
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &:hover{
                    filter: brightness(0.95)
                }
            }
        }
    }
}

.allEpisodes{
    padding-bottom: 2rem;

    table{
        width: 100%;

        th, td{
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--gray-100);
        }

        th{
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem  Lexend, sans-serif;
            text-align: left;
        }

        .trImage{
            width: 70px;
        }

        td{
            font-size: 0.875rem;

            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
                
            }

            a{
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                line-height: 1.4rem;
                font-size: 1rem;

                strong{
                    color: var(--pink);
                    background-color: var(--gray-100);
                    font-size: 1.1rem;
                }

                &:hover{
                    text-decoration: underline;
                }
            }

            button{
                width: 2rem;
                height: 2rem;                    
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.5rem;
                font-size: 0;

                transition: filter 0.2s;

                img{
                    width: 1.25rem;
                    height: 1.25rem;
                }

                &:hover{
                    filter: brightness(0.95)
                }
            }
        }
    }

    .circularProgress{
        color: var(--purple-400);
    }
}


.dark{
    background: var(--dark-1);

    color: var(--gray-100);

    h2{
        color: var(--gray-100);
    }

    .linearProgress{
        background-color: var(--dark-1);
    }

    .latestEpisodes ul li, .allEpisodes{

        button{
            background: var(--dark-1);
            border: 2px solid var(--gray-800);
        }

        a{
            color: var(--gray-100);
            
            strong{
                background-color: #E6E8EBD0;
            }
        }
    }

    .latestEpisodes ul li{
        background: var(--dark-2);
        border: 1px solid var(--gray-800);

    }

    table{
        th, td{
            border-bottom: 1px solid var(--dark-2);
        }
    }
}



@media(max-width: 1400px){
    .homepage{
        padding: 0 1rem;

    }
}

@media(max-width: 1000px){
    .homepage{
        height: calc(100vh - (5.75rem + 12rem));
    }
    
}


@media(max-width: 700px){

    .allEpisodes{
        table{
            th, td{
                padding: 0.75rem 0.5rem;
            }
            .trImage{
                width: 50px;
            }
        }
    }  
}

@media(max-width: 640px){
    .latestEpisodes{
        ul{
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
    .homepage{
        h2{
            margin-top: 1rem;
        }
    }
}