.headerContainer{
    background: var(--white);
    height: 5.75rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2rem 3%;

    border-bottom: 1px solid var(--gray-100);

    .logo{
        max-width: 20%;
    }

    p { 
        margin-left: 3%;
        padding: 0.25rem 0 0.25rem 3%;
        border-left: 1px solid var(--gray-100);
    }
    
    span{
        
        text-transform: capitalize;
        padding-left: 2%;
    }


    .searchContainer{
        margin: 0 1%;
        display: flex;
        align-items: center;
        position: relative;

        input{
            height: 3rem;
            width: 100%;
            padding: 10px;
            padding-right: calc(2rem + 20px);

            border: none;
            border-radius: 3rem;
            background: #98A6;
            font-size: 1.2rem;
            color: var(--gray-500);
            outline: none;

        }

        button{
            background-color: #e82d3d93;
            color: var(--white);
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            z-index: 5;
            font-weight: bold;
        }
        
    }


    .themeButton{
        background: linear-gradient(180deg, var(--purple-600) 0%, var(--purple-500) 100%);
        color: var(--white);
        border: none;
        border-radius: 50%;

        height: 2.75rem;
        min-height: 2.75rem;
        width: 2.75rem;
        min-width: 2.75rem;

        margin-left: 0rem;
        font-size: 0;
        transition: filter 0.2s;

        &:hover{
            filter: opacity(0.85);
        }
    }
}

.dark{
    background: var(--dark-2);

    border-bottom: 1px solid var(--gray-800);

    color: var(--gray-100);

    .logo{
        filter: brightness(1.5) saturate(1.3) invert(0.1);
    }

    .searchContainer{
        input{
            background: #98A6;
            color: var(--gray-100);
        }
    }
}